.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    background-color: #000000;
        opacity: 0.1;
      
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    
    
}
.titlepage2{
  background-color: white;
  height: fit-content;
  margin-top: 12%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 40px;
  color: black;
  font-weight: bold;
  text-align: left;

  text-decoration: underline;
  
}
.desstyle{
    padding-left: 1%;
    padding-top: 0;
    margin-top: 0;
}
.dealbtn{
    width: 90%;
    height: 70px;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 0;
    background-color: #000000;
    color: white;
    margin-top: 3%;
    border-radius: 100px;
}
.closingbtn{
    position: fixed;
   margin-top: 0%;
   margin-left: 29%;
   width: 50px;
   height: 50px;
   background-color: white;
   border-radius: 180%;
   text-align: center;
   cursor: pointer;
}
.newbox{
    border-top: 0.1px solid black;
}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}
.tagline1{
  color: #06648a;
  margin-top: 70%;
  background-color: white;
  border: 1px solid black;
  width: 101.4%;
  font-size: 70px;
  text-align: center;
  justify-content: center;
  
}
